* {
	/* border: 1px solid gray; */
}
html {
	height: 100%;
}
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#main {
	height: 0px; /* start with a 0 height... */
	flex: 1; /* then allow it to grow vertically until it fills the parent, <body>*/
}

#bookshelf {
	overflow:auto;
}

.full-height {
	height: 100%;
}

.cover {
	max-width: 50px;
	max-height: 80px;
	object-fit: contain;
}